@CHARSET "ISO-8859-1";

body{
	color:#620;
	font-family:tahoma;
}
#tbl_create{
	border:1px solid #8B4513;
	background:#DEB887;
}

.gbentry {
	border:2px solid #8B4513;
	background:#DEB887;
}
.gbentry_topline {
	border-bottom: 1px solid #8B4513;
}
.gbentry_content {
	color:#444;
}
.shadow {
  -moz-box-shadow:    6px 5px 2px 1px #630;
  -webkit-box-shadow: 6px 5px 2px 1px #630;
  box-shadow:         6px 5px 2px 1px #630;
}
#overlay_inner {
	border:1px solid #090;
	background:#fff;
}